.sidebar {
  margin: 0;
  width: 25%;
  min-height: 100vh;
  background-color: rgb(8, 26, 81);
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.sidebar__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sidebar > p {
  color: #51cbff;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  padding-top: 20px;
  padding: 20px;
}
.icon {
  color: rgb(8, 26, 81);
  background-color: white;
  border-radius: 50px;
  display: flex;
  left: -10px;
  z-index: 100;
}

.sidebar__title {
  color: white;
  padding-top: 20px;
}
.sidebar__icon__company {
  display: flex;
  flex-direction: row;
}
.sidebar__icon__company {
  color: white;
  background-color: rgb(27, 43, 101);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;

  /* align-items: center; */
}
.sidebar__icon__company > h4 {
  margin-left: 5px;

  font-size: 1.5rem;
  line-height: 100%;
}
.sidebar__bottom > button {
  background-color: rgb(1, 126, 250);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 10px;
  width: 100%;
}
.sidebar__bottom {
  position: fixed;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  background-color: rgb(27, 43, 101);
  justify-content: center;
  padding: 30px;
  border-radius: 15px;
  align-self: center;
  justify-self: center;
}
.sidebar__bottom > h4 {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 10px;
}
.help__icon {
  position: absolute;
  align-self: center;
  top: -15px;
  background-color: rgb(170, 187, 250);
  border-radius: 100%;
  padding: 5px;
}
